@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes slideOut {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}




@keyframes loading {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    animation: fadeOut 0.5s ease-in-out 3s forwards;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 0;

}

.spinner img {
    width: 100%;
    height: 100%;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}






html {
    scroll-behavior: smooth;
}



body {
    background-color: #1A1831;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Sigmar', cursive;
    font-weight: 100;
}

.wrapper {
    margin: auto;
    background: rgb(174, 236, 238);
    background: radial-gradient(circle, rgba(174, 236, 238, 1) 0%, rgba(233, 148, 216, 1) 100%);
    animation: loading 3s ease-in-out;
    z-index: 1;
}

ul,
li {
    list-style-type: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER */





header img {
    width: 65px;
    height: 60px;
    padding-left: 50%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-grow: 0;
    background: rgb(62, 224, 230);
    background: radial-gradient(circle, rgba(62, 224, 230, 1) 0%, rgba(222, 41, 186, 1) 100%);
    padding: 0;
}

header ul {
    margin-left: 50%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header h1 {
    margin-left: 5%;
    font-family: 'Sigmar', cursive;
    font-weight: 100;
    font-size: 40px;
}

header li {
    border: 2px solid white;
    padding: 10px;
    transition: all 500ms ease-in-out;
    font-weight: bold;
}

header a {
    transition: all 500ms ease-in-out;
}

header li:hover {
    background-color: white;
    transform: scale(1.2);
    cursor: pointer;

}

header li:hover a {
    color: red;
    font-weight: bold;
    transform: scaleX(1.2);
}






/* MAIN */



main {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

main h1 {
    font-size: 35px;
    text-decoration: underline double;
    text-shadow: 2px 2px 10px #000;

}

main img {
    width: 300px;
    height: 175px;
    box-shadow: 1px 3px 10px white;
}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    margin-bottom: 150px;
    width: 70%;
    border: 8px ridge white;
    animation: slideIn 1s ease-in-out;


    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);


}

section ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

section li {
    padding: 20px;
    transition: all 500ms ease-in-out;
}

section li:hover {
    transform: scale(1.1);
}

section li:hover img {
    opacity: 2;
}



#streaming,
#mangas {
    position: relative;
    right: 14%;
    border-radius: 0px 10px 10px 0px;
    animation: slideIn 3s ease-in-out;

}

#torrent,
#football {
    position: relative;
    left: 14%;
    border-radius: 10px 0px 0px 10px;
    animation: slideOut 5s ease-in-out;

}


#mangas {
    position: inherit;
    width: 100%;
}




.arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    opacity: 0.5;
    border-radius: 50%;
    z-index: 999;
}

.arrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 6px;
}

.arrow-up {
    top: 20px;
}



.arrow-down:before {
    transform: translate(-50%, -60%) rotate(45deg);
}

.arrow-up:before {
    transform: translate(-50%, -30%) rotate(-135deg);
}


#football ul {
    padding: 0;
}










/* FOOTER */


footer {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;

}

footer h2 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    text-shadow: 2px 2px 10px #000;
}












/*  RESPONSIVE  */


@media screen and (max-width: 1024px) {

    .wrapper {
        width: 100%;
    }


    /* HEADER */


    header {
        height: 450px;
    }


    header,
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul {
        padding: 0;
        margin: 0;
    }

    header .logo,
    header h1 {
        margin: 0;
        padding: 0;
    }

    header h1 {
        display: none;
    }

    header li {
        margin-top: 15px;
        margin-bottom: 15px;
    }


    header img {
        width: 85px;
        height: 80px;
        padding: 20px 0;
    }


    /* MAIN */




    main {
        width: 100%;
        margin: 100px 0;
    }

    #streaming,
    #torrent,
    #mangas,
    #football {
        margin: 50px auto 50px auto;
        padding: 0;
        width: 94%;
        position: inherit;
        border: 3px solid white;
        border-radius: 0;
        animation: none;

    }

    main h1 {
        font-size: 32px;
        text-decoration: none;
        text-shadow: 2px 2px 10px #000;
    }

    main h2 {
        font-size: 18px;
    }


    section ul {
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;

    }


    section li {
        margin: 10px 0px 10px 0px;
        padding: 20px;
        width: 100%;
    }

    section li:hover {
        transform: scale(1);
    }

    main img {
        width: 100%;
        max-width: 300px;
    }

    .arrow {
        z-index: 0;
        display: none;
    }

}