ul,
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #141414;
    margin: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;

}

html {
    scroll-behavior: smooth;
}




header {
    background: linear-gradient(to bottom, #000000, #1b1b1b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 68px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

#logo {
    margin-left: 2%;
    display: flex;
    align-items: center;
}

#logo img {
    width: 110px;
    height: 35px;
}

header nav {
    width: 30%;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

#test {
    margin-bottom: 10px;
    border: 1px solid white;
    width: 1px;
}


.header-list li {
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-list li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.5s ease;
}

.header-list li:hover::before {
    width: 100%;
}



.header-list a {
    transition: all 0.5s ease-in-out;
}

.header-list li:hover a {
    color: red;
}


main {
    width: 90%;
    margin: 100px auto;
}

section ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

section h2 {
    font-size: 30px;
    font-weight: bold;
}

section li {
    padding: 4px;
    position: relative;
    transition: all 400ms ease-in-out;
}

section p {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

section img {
    width: 372px;
    height: 210px;
    border-radius: 2px;
    filter: brightness(0.7);
    /* Ajustez la valeur pour obtenir l'effet de sombre souhaité */
    transition: all 400ms ease-in-out;

}

section li:hover {
    transform: scale(1.2);
    z-index: 3;

}

section li:hover img {
    filter: brightness(1);
    /* Ajustez la valeur pour obtenir l'effet de sombre souhaité */

}



footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #000000, #1b1b1b);
    padding-bottom: 30px;
}